
.post {
    background-color: #fff;
    padding: 5px;
    margin-top: 1em;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

.content .delete {
    margin-left: 1em;
    text-decoration: none;
}
.content .delete:hover {
    cursor: pointer
}
.content .input {
    margin-bottom: 1em;
}
