
.post {
    background-color: #fff;
    padding: 5px;
    margin-top: 1em;
}

.info {
    display: flex;
}
.cont{
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;

}

.cont .text{

}
.cont .delete {
    margin-left: 1em;
    text-decoration: none;
}
.cont .delete:hover {
    cursor: pointer
}
.cont .input {
    margin-bottom: 1em;
}
